@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
      @apply text-xl;
    }
    h5 {
      @apply text-xs;
    }

  }
  @media screen and (max-width: 960px) {
    .navbar-logo {
      position:absolute;
      top:0;
      left: 0;
      transform: translate(25%, 50%);
    }
    .menu-icons {
      display: block;
      position: absolute;
      font-size: 1.8rem;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
    }
    .nav-link {
      padding: 2rem;
      width: 100%;
      text-align: center;
      display: table;
    }
    .nav-menu {
      display:flex;
      flex-direction: column;
      width: 100%;
      height: 90vh;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
      color: #efefef;
    }
    .nav-menu.active {
      background: #242222;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease-out;
      z-index: 1;
    }
    .Header img {
      position: relative;
    }
    .Header > h1 {
      font-size: 25px;
      letter-spacing: 0.5px;
      position: absolute;
      top:30px;
      z-index: 20;
    }
    .Header > h5 {
      font-size:25px;
      position: absolute;
      top:40px;
      z-index: 20;
    }
    .btn-header {
      position:absolute;
      top: 100px;
    }
    .body-items{
      flex-direction: column;
      align-items: center;
      width:100vw;
      height: 100vh;
    }
    .footer-input {width:100%}
    .social-wrap {
      flex-direction: column;
      align-items: center;
      padding-top:2px;
    }
  }
